@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------- Общие классы -------------------------- */
.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

/* ------------------ */
.main-section header .right-side .menu .proect a {
  border-bottom: none;
}

@media screen and (max-width: 1200px) {
  .center {
    max-width: 95%;
  }
}

footer .content .social .icon div a img {
  width: auto;
}

@media screen and (max-width: 1024px) {
  footer .content .social .icon div a img {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  footer .content .social .icon div a img {
    width: 100%;
  }
}

.title {
  margin-top: 5px;
  margin-bottom: 68px;
}

.title h2 {
  font-size: 46px;
  line-height: 63px;
  color: #424242;
  font-weight: 600;
  font-family: 'Open sans';
}

@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.slider {
  width: 65%;
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 100%;
  }
}

.info1 {
  font-family: 'Open Sans';
}

.info1 h3 {
  margin-top: 150px;
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .info1 h3 {
    margin-top: 50px;
    font-size: 32px;
    line-height: 42px;
  }
}

.info1 p {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
}

.info1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .info1 form {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .info1 form {
    margin-bottom: 50px;
  }
}

.info1 form .left-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.info1 form .left-side input {
  width: 360px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 24px;
  border: 2px solid #AEA38B;
}

@media screen and (max-width: 600px) {
  .info1 form .left-side input {
    width: 100%;
  }
}

.info1 form .left-side input::-webkit-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
}

.info1 form .left-side input:-ms-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
}

.info1 form .left-side input::-ms-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
}

.info1 form .left-side input::placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
}

.info1 form .left-side button {
  width: 360px;
  height: 60px;
  background-color: #D8B152;
  color: #ffffff;
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.info1 form .left-side button:hover {
  background-color: #4d3c11;
}

@media screen and (max-width: 768px) {
  .info1 form .left-side button {
    display: none;
  }
}

.info1 form .right-side textarea {
  width: 760px;
  height: 230px;
  border: 2px solid #AEA38B;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (max-width: 1200px) {
  .info1 form .right-side textarea {
    width: 500px;
  }
}

@media screen and (max-width: 920px) {
  .info1 form .right-side textarea {
    width: 100%;
  }
}

.info1 form .right-side textarea::-webkit-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
  padding-top: 18px;
}

.info1 form .right-side textarea:-ms-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
  padding-top: 18px;
}

.info1 form .right-side textarea::-ms-input-placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
  padding-top: 18px;
}

.info1 form .right-side textarea::placeholder {
  padding-left: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #424242;
  padding-top: 18px;
}

.info1 form .right-side button {
  display: none;
  width: 360px;
  height: 60px;
  background-color: #D8B152;
  color: #ffffff;
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.info1 form .right-side button:hover {
  background-color: #ffffff;
  color: #424242;
  border: solid black;
}

@media screen and (max-width: 768px) {
  .info1 form .right-side button {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .info1 form .right-side button {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */